:root {
    --background-color: #121212;
    --serial-background-color: #1e1e1e;
    --blue: #0b4af9;
    --pink: #ed006c;
}

body {
    font-family: "Courier New", Courier, monospace;
    background-color: var(--background-color);
    color: var(--blue);
    margin: 0;
    padding: 24px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box; 
}

h2 {
    color: var(--blue); 
    margin-bottom: 24px;
    text-align: center;
}

#serial {
    width: 80%; 

    height: 80%; 
    overflow-y: auto; 
    border: 1px solid var(--pink);
    padding: 12px;
    background-color: var(--serial-background-color);
    color: white;
    box-shadow: 0px 0px 12px black;
    box-sizing: border-box; 
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--pink);
}
